<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid" style="padding: 0px">
    <img class="img-responsive" src="../assets/img/background.jpg" alt="background" width="100%">
</div>

<!--- nav bar-->
<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="390" style="box-shadow: 0 8px 15px 0 gray; margin: 0px;">
    <div class="container-fluid">
        <div class="navbar-header" style="cursor: pointer">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
            <a class="navbar-brand" (click)="home()" title="Display Everthing">Game of Thrones</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar" style="cursor: pointer">
            <ul class="nav navbar-nav navbar-right">
                <li><a (click)="books()"><strong>Books</strong></a></li>
                <li><a (click)="characs()"><strong>Characters</strong></a></li>
                <li><a (click)="houses()"><strong>Houses</strong></a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- end of nav--->
<!-- end of nav-->
<div class="background1">
    <br>
    <router-outlet></router-outlet>
</div>


<!--footer-->
<footer class="nb-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about">

                    <p>“Different roads sometimes lead to the same castle.”
                    </p>
                    <p>“... a mind needs books as a sword needs a whetstone, if it is to keep its edge.”
                    </p>
                    <p>“Every flight begins with a fall.”
                    </p>


                </div>
            </div>
        </div>
    </div>

    <section class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p>Copyright © 2017. edWisor.com</p>
                </div>
                <div class="col-sm-6"></div>
            </div>
        </div>
    </section>
</footer>