<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid" style="padding: 0px">
    <img class="img-responsive" src="./assets/img/background.jpg" alt="background" width="100%">
</div>


<div class="background1">
    <br>
    <router-outlet></router-outlet>
</div>


<!--footer-->
<footer class="nb-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about">

                    <p>“Different roads sometimes lead to the same castle.”
                    </p>
                    <p>“... a mind needs books as a sword needs a whetstone, if it is to keep its edge.”
                    </p>
                    <p>“Every flight begins with a fall.”
                    </p>


                </div>
            </div>
        </div>
    </div>

    <section class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p>Copyright © 2017. edWisor.com</p>
                </div>
                <div class="col-sm-6"></div>
            </div>
        </div>
    </section>
</footer>